<ion-view view-title="firstpage">
<ion-content class="center" padding="true" scroll="false">

<div class="centertext">
	<h4>{{workMessage}}</h4>
</div>

	<div class="centertext" ng-click=>
		<circular-slider
		class='my-slider'
		borderWidth='borderWidth'
		innerCircleRatio='0.8'
		disabled="isDisabled"
		shape="{{shape}}"
		touch="true"
		animate='true'
		on-slide='onSlide(value)'
		on-slide-end='onSlideEnd(value)'
		min="2"
		max="24"
		value="value">
		<timer autostart="false" interval="1000" max-time-unit="'minute'" countdown="1800">
			{{minutes}}:{{sseconds}}
		</timer> 
	</circular-slider>
</div>


<div class="centertext">
	<button class="ion-clock button circle {{buttonStyle}}" ng-click="activityButtonClicked()">
		{{buttonText}}
	</button>
</div>

</ion-content>
</ion-view>
