      <ion-modal-view class="circle" on-tap="sp.closeInfoPopup()">
      <ion-header-bar class="bar bar-header bar-transparent" on-tap="sp.closeInfoPopup()">
      <h1 class="title">Help</h1>
    </ion-header-bar>
    <ion-content class="no-has-header" scroll="false" padding="true">
    <div class = "centertext">
      <div class = "center2">
        <div>
          <span class="ion-ios-stopwatch-outline"></span> Session points earned
          <div>
            <span class="ion-fireball purple-icon" style="display: inline-block; color: purple" ></span> Number of combo's earned
          </div>
          <div>
            <span class="coin ion-disc" ></span> Total points
          </div>
          <div>
            <br>
            Sessions points are determined by the length of your succeeded sessions. You are rewarded with extra points for longer sessions.<br>
            The higher number of combos you achieve, the more points you will get for every succeded session.
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>