<ion-view view-title="Scoreboard">

<ion-header-bar align-title="center" class="bar-transparent scoreHeaderBar">
<div class= "buttons">
	<a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="index">Back</a>
</div>

<div class="title scoreText"> <h1>Scoreboard</h1> </div>
</ion-header-bar>

<ion-content class="has-scoreHeader" scroll="false" padding="true">
<div class="centertext">	
	<h3>   Points {{sp.points}} <i class="ion-disc gold-icon"> </i></h3>
	<h4>Current level</h4>
	<div class="progress-wrapper">

		<div class="progress center2" ng-style="{'font-size': sp.getFontSize()}"> <div class="center2"> {{sp.level}}</div></div>
		
		<div
		round-progress
		max="sp.max"
		current="sp.current"
		color="#45ccce"
		bgcolor="#eaeaea"
		radius="65"
		stroke="15"
		semi="false"
		rounded="false"
		clockwise="true"
		iterations="75"
		animation="easeInOutQuart">
	</div>
</div>

<div>
	<h4>Points to next level: {{sp.pointsLeft}} </h4>
	<hr class="lineWidth">
	<div>	
		<h4>Combo <br>  
			<i ng-repeat="n in [] | range:sp.combo" class="ion-android-star purple-icon"> </i> 
		</h4> 
		<hr class="lineWidth">
	</div>
	
	<h4>Succeeds: {{sp.sessionCount}} </h4>

</div>
</div>

</ion-content>
</ion-view>
